basePath: /api/v1
definitions:
  controllers.LoginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    required:
    - email
    - password
    type: object
  controllers.LoginResponse:
    properties:
      data:
        $ref: '#/definitions/models.User'
      message:
        type: string
      status:
        type: string
    type: object
  controllers.PatientListResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/models.Patient'
        type: array
      message:
        type: string
      status:
        type: string
    type: object
  controllers.PatientRequest:
    properties:
      address:
        type: string
      birth_date:
        type: string
      full_name:
        type: string
      gender:
        type: string
      identity_card:
        type: string
      phone_number:
        type: string
      updated_by:
        type: integer
    required:
    - address
    - birth_date
    - full_name
    - gender
    - identity_card
    - phone_number
    type: object
  controllers.PatientResponse:
    properties:
      data:
        $ref: '#/definitions/models.Patient'
      message:
        type: string
      status:
        type: string
    type: object
  controllers.RegulationListResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/models.Regulation'
        type: array
      message:
        type: string
      status:
        type: string
    type: object
  controllers.RegulationRequest:
    properties:
      name:
        type: string
      updated_by:
        type: integer
      value:
        items:
          type: integer
        type: array
    required:
    - name
    - updated_by
    - value
    type: object
  controllers.RegulationResponse:
    properties:
      data:
        $ref: '#/definitions/models.Regulation'
      message:
        type: string
      status:
        type: string
    type: object
  controllers.StaffListResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/models.Staff'
        type: array
      message:
        type: string
      status:
        type: string
    type: object
  controllers.StaffRequest:
    properties:
      address:
        type: string
      birth_date:
        type: string
      email:
        type: string
      full_name:
        type: string
      gender:
        $ref: '#/definitions/types.Gender'
      identity_card:
        type: string
      password:
        type: string
      phone_number:
        type: string
      role:
        $ref: '#/definitions/types.Role'
      salary:
        type: integer
      status:
        $ref: '#/definitions/types.StaffStatus'
      updated_by:
        type: integer
    required:
    - address
    - birth_date
    - email
    - full_name
    - gender
    - identity_card
    - password
    - phone_number
    - role
    type: object
  controllers.StaffResponse:
    properties:
      data:
        $ref: '#/definitions/models.Staff'
      message:
        type: string
      status:
        type: string
    type: object
  controllers.TicketListResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/models.Ticket'
        type: array
      message:
        type: string
      status:
        type: string
    type: object
  controllers.TicketRequest:
    properties:
      patient_id:
        type: integer
      updated_by:
        type: integer
    required:
    - patient_id
    type: object
  controllers.TicketResponse:
    properties:
      data:
        $ref: '#/definitions/models.Ticket'
      message:
        type: string
      status:
        type: string
    type: object
  controllers.UpdatePatientRequest:
    properties:
      address:
        type: string
      birth_date:
        type: string
      full_name:
        type: string
      gender:
        type: string
      identity_card:
        type: string
      phone_number:
        type: string
      updated_by:
        type: integer
    required:
    - address
    - birth_date
    - full_name
    - gender
    - identity_card
    - phone_number
    type: object
  controllers.UpdateRegulationRequest:
    properties:
      name:
        type: string
      updated_by:
        type: integer
      value:
        items:
          type: integer
        type: array
    type: object
  controllers.UpdateStaffRequest:
    properties:
      address:
        type: string
      birth_date:
        type: string
      email:
        type: string
      full_name:
        type: string
      gender:
        $ref: '#/definitions/types.Gender'
      identity_card:
        type: string
      password:
        type: string
      phone_number:
        type: string
      role:
        $ref: '#/definitions/types.Role'
      salary:
        type: integer
      status:
        $ref: '#/definitions/types.StaffStatus'
      updated_by:
        type: integer
    type: object
  models.Patient:
    properties:
      address:
        type: string
      birth_date:
        type: string
      created_at:
        type: string
      full_name:
        type: string
      gender:
        type: string
      id:
        type: integer
      identity_card:
        type: string
      phone_number:
        type: string
      updated_at:
        type: string
      updated_by:
        type: integer
    type: object
  models.Regulation:
    properties:
      created_at:
        type: string
      id:
        type: integer
      name:
        type: string
      updated_at:
        type: string
      updated_by:
        type: integer
      value:
        items:
          type: integer
        type: array
    type: object
  models.Staff:
    properties:
      address:
        type: string
      birth_date:
        type: string
      created_at:
        type: string
      email:
        type: string
      full_name:
        type: string
      gender:
        type: string
      id:
        type: integer
      identity_card:
        type: string
      phone_number:
        type: string
      role:
        type: string
      salary:
        type: integer
      status:
        type: string
      updated_at:
        type: string
      updated_by:
        type: integer
    type: object
  models.Ticket:
    properties:
      created_at:
        type: string
      date:
        type: string
      id:
        type: integer
      number:
        type: integer
      patient:
        $ref: '#/definitions/models.Patient'
      patient_id:
        type: integer
      status:
        type: string
      updated_at:
        type: string
      updated_by:
        type: integer
    type: object
  models.User:
    properties:
      email:
        type: string
      id:
        type: integer
      role:
        type: string
    type: object
  types.Gender:
    enum:
    - 1
    - 2
    - 3
    type: integer
    x-enum-varnames:
    - Male
    - Female
    - Other
  types.Role:
    enum:
    - 1
    - 2
    - 3
    - 4
    type: integer
    x-enum-varnames:
    - Receptionist
    - Doctor
    - Pharmacist
    - Admin
  types.StaffStatus:
    enum:
    - 1
    - 2
    type: integer
    x-enum-varnames:
    - Working
    - Quit
host: localhost:8080
info:
  contact: {}
  description: Clinic Management API
  title: Clinic Management
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Login your account
      parameters:
      - description: Login data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/controllers.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Login response
          schema:
            $ref: '#/definitions/controllers.LoginResponse'
      summary: Login
      tags:
      - auth
  /patient:
    get:
      description: Get patient
      produces:
      - application/json
      responses:
        "200":
          description: Patient response
          schema:
            $ref: '#/definitions/controllers.PatientListResponse'
      summary: Get patient
      tags:
      - patient
    post:
      consumes:
      - application/json
      description: Create patient
      parameters:
      - description: Patient data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/controllers.PatientRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Patient response
          schema:
            $ref: '#/definitions/controllers.PatientResponse'
      summary: Create patient
      tags:
      - patient
  /patient/{id}:
    delete:
      description: Delete patient
      parameters:
      - description: Patient id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Patient response
          schema:
            $ref: '#/definitions/controllers.PatientResponse'
      summary: Delete patient
      tags:
      - patient
    get:
      description: Get patient by id
      parameters:
      - description: Patient id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Patient response
          schema:
            $ref: '#/definitions/controllers.PatientResponse'
      summary: Get patient by id
      tags:
      - patient
    put:
      consumes:
      - application/json
      description: Update patient
      parameters:
      - description: Patient id
        in: path
        name: id
        required: true
        type: integer
      - description: Patient data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/controllers.UpdatePatientRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Patient response
          schema:
            $ref: '#/definitions/controllers.PatientResponse'
      summary: Update patient
      tags:
      - patient
  /regulation:
    get:
      description: Get regulation
      produces:
      - application/json
      responses:
        "200":
          description: Regulation response
          schema:
            $ref: '#/definitions/controllers.RegulationListResponse'
      summary: Get regulation
      tags:
      - regulation
    post:
      consumes:
      - application/json
      description: Create regulation
      parameters:
      - description: Regulation data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/controllers.RegulationRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Regulation response
          schema:
            $ref: '#/definitions/controllers.RegulationResponse'
      summary: Create regulation
      tags:
      - regulation
  /regulation/{id}:
    delete:
      description: Delete regulation
      parameters:
      - description: Regulation id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Regulation response
          schema:
            $ref: '#/definitions/controllers.RegulationResponse'
      summary: Delete regulation
      tags:
      - regulation
    put:
      consumes:
      - application/json
      description: Update regulation
      parameters:
      - description: Regulation id
        in: path
        name: id
        required: true
        type: integer
      - description: Regulation data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/controllers.UpdateRegulationRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Regulation response
          schema:
            $ref: '#/definitions/controllers.RegulationResponse'
      summary: Update regulation
      tags:
      - regulation
  /staff:
    get:
      description: Get staff
      parameters:
      - description: Staff name
        in: query
        name: name
        type: string
      - default: 1
        description: Page
        in: query
        name: page
        type: integer
      - default: 10
        description: Page size
        in: query
        name: page_size
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Staff response
          schema:
            $ref: '#/definitions/controllers.StaffListResponse'
      summary: Get staff
      tags:
      - staff
    post:
      consumes:
      - application/json
      description: Create staff
      parameters:
      - description: Staff data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/controllers.StaffRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Staff response
          schema:
            $ref: '#/definitions/controllers.StaffResponse'
      summary: Create staff
      tags:
      - staff
  /staff/{id}:
    delete:
      description: Delete staff
      parameters:
      - description: Staff id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Staff response
          schema:
            $ref: '#/definitions/controllers.StaffResponse'
      summary: Delete staff
      tags:
      - staff
    get:
      description: Get staff by id
      parameters:
      - description: Staff id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Staff response
          schema:
            $ref: '#/definitions/controllers.StaffResponse'
      summary: Get staff by id
      tags:
      - staff
    put:
      consumes:
      - application/json
      description: Update staff
      parameters:
      - description: Staff id
        in: path
        name: id
        required: true
        type: integer
      - description: Staff data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/controllers.UpdateStaffRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Staff response
          schema:
            $ref: '#/definitions/controllers.StaffResponse'
      summary: Update staff
      tags:
      - staff
  /staff/enums:
    get:
      description: Get staff enums
      produces:
      - application/json
      responses: {}
      summary: Get staff enums
      tags:
      - staff
  /ticket:
    get:
      description: Get ticket
      parameters:
      - default: 1
        description: Page
        in: query
        name: page
        type: integer
      - default: 10
        description: Page size
        in: query
        name: page_size
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Ticket response
          schema:
            $ref: '#/definitions/controllers.TicketListResponse'
      summary: Get ticket
      tags:
      - ticket
    post:
      consumes:
      - application/json
      description: Create waiting ticket
      parameters:
      - description: Waiting ticket data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/controllers.TicketRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Waiting ticket response
          schema:
            $ref: '#/definitions/controllers.TicketListResponse'
      summary: Create waiting ticket
      tags:
      - ticket
  /ticket/{id}:
    delete:
      description: Delete ticket
      parameters:
      - description: Ticket id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Ticket response
          schema:
            $ref: '#/definitions/controllers.TicketResponse'
      summary: Delete ticket
      tags:
      - ticket
  /ticket/enums:
    get:
      description: Get ticket enums
      produces:
      - application/json
      responses: {}
      summary: Get ticket enums
      tags:
      - ticket
swagger: "2.0"
